<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./components/head'); %>
  <body class="my-body">
    <%- include('./components/navbar'); %>

    <div class="container">
      <br />
      <div class="card" id="form-pergunta">
        <div class="card-body">
          <form
            action="/ask-a-question"
            method="POST"
            onSubmit="return validate();"
            name="ask"
          >
            <label class="form-label">Título</label>
            <input
              type="text"
              name="title"
              id="title"
              placeholder="Título"
              class="form-control"
            />

            <label class="form-label gap-top">Descrição</label>
            <textarea
              name="description"
              id="description"
              cols="30"
              rows="10"
              placeholder="Descreva sua pergunta"
              class="form-control"
              rows="3"
            ></textarea>
            <br />
            <button class="btn btn-dark btn-lg gap-top">Perguntar</button>
          </form>
        </div>
      </div>
    </div>

    <%- include('./components/footer-scripts.ejs'); %> <%-
    include('./components/tinymce-config.ejs'); %> <%-
    include('./components/show-alert.ejs'); %>
    <script language="JavaScript">
      let minimum = 3;
      function validate() {
        if (document.ask.title.value.length < minimum) {
          showAlert(
            `Seu titúlo deve ter mais que ${minimum} caracteres`,
            "danger"
          );
          return false;
        }
        if (document.ask.description.value.length < minimum) {
          showAlert(
            `Sua Pergunta deve ter mais que ${minimum} caracteres`,
            "danger"
          );
          return false;
        }
        return true;
      }
    </script>
  </body>
</html>
