<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./components/head'); %>
  <body id="myBody">
    <%- include('./components/navbar'); %>
    <main class="container">
      <div class="gap-top gap-bottom">
        <!--  Iniciando listagem de Perguntas -->
        <%if(questionList.length <= 0) {%>
        <div
          class="d-flex flex-column align-items-center justify-content-center py-5"
        >
          <i
            class="fa-solid fa-code text-muted py-5"
            style="font-size: 6rem"
          ></i>
          <h3 class="card-text text-muted">Nenhuma Pergunta Encontrada!</h3>
          <a href="/question/add" class="btn btn-lg btn-outline-secondary my-5">
            <i class="fa-solid fa-file-circle-question"> </i> Adicionar Pergunta
          </a>
        </div>
        <%} else {%> <% questionList.forEach((question)=>{ %>
        <section>
          <div class="card">
            <div class="card-header text-white bg-dark">
              <h4 class="text-title"><%=question.title%></h4>
            </div>
            <div class="card-body">
              <div class="text-description"><%-question.description%></div>
            </div>
            <div
              class="card-footer d-flex justify-content-end justify-content-lg-between align-items-center"
            >
              <small class="text-muted d-none d-lg-block">
                Adicionada em <%= new
                Intl.DateTimeFormat().format(question.createdAt)%> | Atualizada
                em <%= new Intl.DateTimeFormat().format(question.updateAt)%>
              </small>

              <div class="card-buttons">
                <a
                  href="/question/view/<%=question.id%>"
                  class="btn btn-secondary"
                >
                  <i class="fa-solid fa-eye"></i>
                  <span class="d-none d-sm-inline">Visualizar</span>
                </a>
                <a
                  href="/question/view/<%=question.id%>#answer"
                  class="btn btn-dark"
                >
                  <i class="fa-solid fa-pencil"></i>
                  <span class="d-none d-sm-inline">Responder</span>
                </a>
              </div>
            </div>
          </div>
        </section>

        <% }) %> <%}%>
        <!--  Finalizando Listagem de Perguntas -->
      </div>
    </main>
    <%-include('./components/footer.ejs'); %>
  </body>
</html>
