<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./components/head'); %>
  <body>
    <%- include('./components/navbar'); %>
    <main class="container">
      <div class="d-grid gap-3 gap-top gap-bottom">
        <% questionList.forEach((question)=>{ %>
        <section class="col">
          <div class="card">
            <div class="card-header text-white bg-dark">
              <h4 class="text-title"><%=question.title%></h4>
            </div>
            <div class="card-body">
              <div class="text-description"><%-question.description%></div>
            </div>
            <div
              class="card-footer d-flex justify-content-end justify-content-lg-between align-items-center"
            >
              <small class="text-muted d-none d-lg-block">
                Adicionada em <%= new
                Intl.DateTimeFormat().format(question.createdAt)%> | Atualizada
                em <%= new Intl.DateTimeFormat().format(question.updateAt)%>
              </small>

              <div class="card-buttons d-none d-lg-block">
                <a href="/question/<%=question.id%>" class="btn btn-secondary">
                  <i class="fa-solid fa-eye"></i> Visualizar
                </a>
                <a
                  href="/question/<%=question.id%>#answer"
                  class="btn btn-dark"
                >
                  <i class="fa-solid fa-pencil"></i> Responder
                </a>
              </div>
              <div class="card-buttons d-lg-none">
                <a href="/question/<%=question.id%>" class="btn btn-secondary">
                  <i class="fa-solid fa-eye"></i>
                </a>
                <a
                  href="/question/<%=question.id%>#answer"
                  class="btn btn-dark"
                >
                  <i class="fa-solid fa-pencil"> </i>
                </a>
              </div>
            </div>
          </div>
        </section>

        <% }) %>
      </div>
    </main>
    <%-include('./components/footer-scripts.ejs'); %>
  </body>
</html>
